<div class="m-container">
  <AuCard class="m-card" @flex={{true}} @divided={{true}} as |c|>
    <c.header @badgeSkin="brand" @badgeIcon="info-circle">
      <AuHeading @level="2" @skin="4">
        {{@m.cityName}}
      </AuHeading>
      <p>Gemeente</p>
    </c.header>
    <c.content>
      <ul>
        <li>NIS-code: {{@m.nis}}</li>
        <li>Aantal besluiten beschikbaar: {{@m.count}}</li>
      </ul>
    </c.content>
  </AuCard>
</div>